body {
	background-color: silver;
}

p {
	color: blue;
	font-size: 18pt;
}

/* aby kolor tekstu w pierwszym akapicie zmienił się na zielony, a rozmiar tekstu w akapicie drugim zmienił się na 20pt */
p:nth-child(1) {
	color: green;
	font-size: 20pt;
}

button {
	display: block;
	margin: auto;
	width: 10em;
	height: 5em;
	background-color: red;
	color: white;
	border-radius: 3em;
}