.naglowek {
  text-align: center;
  background-color: blue;
  color: white;
  border: 2px solid red;
  font-family: "Segoe UI";
  margin: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  font-size: 150%;
  font-family: "Segoe UI";
  text-align: center;
  color: red;
  margin: 30px;
  position: relative;
  width: 90%;
  top: -15px;
  left: 40px;
  background-color: gainsboro;
}

.strip {
  position: fixed;
  top: 100px;
  right: 0;
  background: rgb(25, 25, 25);
}

.icon {
  border-radius: 50%;
}
