.naglowek {
  text-align: center;
  background-color: blue;
  color: white;
  border: 2px solid red;
  box-shadow: 2px 2px 15px red;
  font-family: "Segoe UI";
  margin: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  font-size: 150%;
  font-family: "Segoe UI";
  text-align: center;
  color: red;
  margin: 30px;
  position: relative;
  width: 90%;
  top: -15px;
  left: 40px;
  background-color: gainsboro;
}

.strip {
  position: fixed;
  top: 100px;
  width: 200px;
  height: 650px;
  right: 0;
  background: rgb(25, 25, 25);
}

.icon {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 3px solid rgb(48, 224, 48);
}

.icon:hover {
  border-color: rgb(28, 134, 28);
  box-shadow: 2px 2px 10px rgb(28, 134, 28);
}

.icon:nth-child(1) {
  background: url("./ikony-mediow-spolecznosciowych_1097-1248.jpg") 0 0;
}

.icon:nth-child(2) {
  background: url("./ikony-mediow-spolecznosciowych_1097-1248.jpg") 153px 0;
}

.icon:nth-child(3) {
  background: url("./ikony-mediow-spolecznosciowych_1097-1248.jpg") 0 153px;
}

.icon:nth-child(4) {
  background: url("./ikony-mediow-spolecznosciowych_1097-1248.jpg") 153px 153px;
}
