body {
  background: navy;
}

h1, h2, h3 {
  color: #f00;
  font-family: Verdana;
}

div {
  background: #0ff;
  font-family: 'Sagoe UI';
  width: 900px;
  border: 5px solid #0f0;
}

#b1 {
  font-size: 14pt;
  padding: 10px;
  border-top: 5px solid #ff0;
  border-bottom: 5px solid #ff0;
}

#b2 {
  font-size: 12pt;
  padding: 15px;
  border-top: 10px solid #ff0;
  border-bottom: 10px solid #ff0;
}

#b3 {
  font-size: 10pt;
  padding: 20px;
  border: 20px solid #ff0;
}
