body {
  background: #800000;
  margin: 10px;
  padding: 10px;
}
h1 {
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 2px #ff0;
}
ol {
  font-size: 20pt;
  font-family: 'Segoe UI';
  letter-spacing: 2px;
  text-shadow: 1px 2px #0f0;
}

ul {
  list-style: url('./ikona181.png');
}

.wiosna, .lato, .jesien, .zima {
  background-size: 1000px;
  background-repeat: no-repeat;
}

.wiosna {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Fr%C3%BChlingsallee_Tulpenbl%C3%BCte_2010_%281%29.jpg');
}

.lato {
  background-image: url('https://tapety4u.pl/photo/jpg/01/06/29/49/240_F_106294961_mvPwWnS8T5B0Yet1Klnf2KAIA4zRQ483.jpg');
}

.jesien {
  background-image: url('https://artimento.pl/userdata/public/news/images/20.jpg');
}

.zima {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnjUFF6M0akPntFp44athJ3nSE4Kykv0fMNg&usqp=CAU');
}